.ChangeWallpaper {
    font-size: 10px;
    overflow-y: scroll;
    max-height: calc(100vh - 120px);

    &_reset {
        font-size: 22px;
        padding: 4px 12px;
        color: #000;

        span {
            color: #000;
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &_content {
        padding: 8px !important;
    }

    &_element {
        width: 100%;
        padding: 8px 16px !important;
        display: flex;
        align-items: center;
        column-gap: 12px;
        color: #000;
        font-size: 20px !important;

        &_inner {
            width: 200px;
            display: flex;
            align-items: center;
        }

        &_selector {
            min-width: 16px;
            min-height: 16px;
            border-radius: 16px;
        }

        img,
        video {
            width: 100%;
        }
    }
}