.Flappy {
    background-color: #E9EBFF;

    &_play {
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        background: url('/img/flappy/bg.png');
        background-position: bottom;
        background-repeat: repeat-x;
        padding: 20px;

        @media(max-width: 800px) {
            width: calc(100vw - 6px);
            height: calc(100dvh - 122px);
        }

        &_score {
            width: 130px;
            height: 170px;
            background: url('/img/flappy/scoreWrapper.svg');
            background-position: center;
            background-size: cover;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;

            &_header {
                width: 100%;
                font-size: 14px;
                text-align: center;
                color: #000;
            }

            &_best {
                margin-top: 16px;
            }

            &_value {
                font-weight: 900;
                color: #000;
                font-size: 38px;
            }
        }

        &_btns {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            margin-top: 24px;
        }

        &_btn {

            -webkit-font-smoothing: none;
            font-family: "Pixelated MS Sans Serif", Arial;
            font-size: 11px;

            border: none;
            border-radius: 0;
            box-sizing: border-box;
            color: transparent;
            min-height: 23px;
            min-width: 75px;
            padding: 0 12px;
            text-shadow: 0 0 #222;


            background: #B8C0C1;
            box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;

            margin-top: 8px;
            width: 100%;
            font-size: 20px;
            padding: 8px !important;
            text-align: center;


        }
    }

    &_score {
        width: 100% !important;
        top: 50px;
        font-size: 55px;
        font-weight: 900;
        z-index: 9;
        text-shadow: 2.00px 0.00px #000000, 1.41px 1.41px #000000, 0.00px 2.00px #000000, -1.41px 1.41px #000000, -2.00px 0.00px #000000, -1.41px -1.41px #000000, -0.00px -2.00px #000000, 1.41px -1.41px #000000;
    }
}