.Flappy {
    font-size: 10px;
    height: 500px;
    width: 400px;
    background-color: #E9EBFF;
    display: flex;
    justify-content: center;
    align-items: end;
    align-content: end;
    overflow: hidden;
    flex-wrap: wrap;

    @media(max-width: 800px) {
        width: 100%;
        height: calc(100dvh - 120px);
    }

    &_bg {
        align-items: end !important;
        width: 100% !important;
        justify-content: left !important;

        img {
            min-width: 200px;
        }
    }

    &_bear {
        width: 100% !important;
        z-index: 2;
    }

    &_wall {
        z-index: 3;
        width: 100% !important;
        align-items: end !important;

        &_inner {
            height: 500px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 200px;

            @media(max-width: 800px) {
                height: calc(100dvh - 120px);
            }
        }

        &_top {
            align-items: start !important;
        }

        &_num {
            font-size: 20px;
            color: #000;
        }

        &_bot {
            align-items: end !important;

            img {
                transform: rotate(180deg);
            }
        }
    }
}