.Pusk {
    width: 240px;
    display: flex;


    img {
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }

    &_wrapper {
        position: fixed !important;
        bottom: 44px;
        align-items: end !important;
        justify-content: left !important;
        width: 100% !important;
    }

    &_links {
        width: 100%;
        padding: 0px 12px
    }

    &_link {
        font-weight: 700;
        font-size: 14px;
        color: black;
        display: flex;
        align-items: center;
        min-height: 32px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &_header {
            &:hover {
                text-decoration: none;
                cursor: default;

            }
        }

        &_img {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_del {
            width: 12px;
        }

        img {
            width: 100px;
            max-width: 28px;
            max-height: 28px;
        }
    }

    &_name {
        display: flex;
        align-items: end;
        justify-content: center;
        min-width: 28px;
        background-color: #000A71;
        overflow: hidden;

        &_text {
            transform: rotate(-90deg);
            justify-content: left !important;
            top: -8px;
            font-weight: 700;
            font-size: 20px;
        }

        &_decor {
            top: -50px;
            left: 10px;

            &_inner {
                filter: blur(10px);
                min-width: 74px;
                min-height: 74px;
                border-radius: 74px;
                background-color: #0107FB;
            }
        }
    }

    &_hr {
        width: 100%;
        height: 0px;
        border-top: 1px solid rgba(#000, .05);
        border-bottom: 1px solid #fff;
    }
}