.TaskPanel {
    width: 100%;
    // height: 30px;
    height: 44px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 800px) {
        height: 100dvh;
        flex-wrap: wrap;
        align-content: space-between;
        background-color: #0000 !important;
        box-shadow: unset !important;
        padding: 0px !important;
        pointer-events: none;
    }



    img {
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }

    &_wrapper {
        position: fixed !important;
        align-items: end !important;
        bottom: 0px;
        left: 0px;
        width: 100% !important;
        z-index: 99;

        @media(max-width: 800px) {
            top: 0px;
            left: 0px;
            align-items: start !important;
        }
    }

    button:not(:disabled):active {
        text-shadow: 1px 1px #2220;

        img,
        .TaskPanel_tab_text {
            transform: translate(1px, 1px);
        }
    }

    &_left,
    &_right {
        display: flex;
        column-gap: 4px;

        @media(max-width: 800px) {
            pointer-events: all;
            width: 100%;
            height: 44px;
            padding: 3px;
            background: #B8C0C1;
            box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
        }
    }

    &_left {
        width: 100%;

    }

    &_right {
        min-width: 225px;
        justify-content: right;

        @media(max-width: 800px) {
            justify-content: space-between;

            padding-left: 16px;

            .TaskPanel_vl {
                display: none;
            }
        }
    }


    &_tab {
        height: 38px;
        padding: 0px 8px;
        display: flex;
        align-items: center;
        column-gap: 6px;
        width: 100%;
        max-width: 240px;
        overflow: hidden;

        @media(max-width: 800px) {
            width: fit-content;
            min-width: 0px;
        }

        .TaskPanel_tab_text {
            @media(max-width: 800px) {
                display: none;
            }
        }

        img {
            width: 100px;
            max-width: 24px;
            max-height: 24px;
        }

        &_text {
            color: #000;
            font-size: 17px;
        }
    }

    &_win {
        margin-right: 5px;
        min-width: 95px;
        max-width: 95px;

        @media(max-width: 800px) {
            min-width: 0px;
            margin-right: 0px;
        }

        .TaskPanel_tab_text {
            font-weight: 700;
        }

        &_img {
            &_pc {
                display: block;

                @media(max-width: 800px) {
                    display: none;
                }
            }

            &_mob {
                display: none;

                @media(max-width: 800px) {
                    display: block;
                }
            }
        }
    }

    &_vl {
        width: 0px;
        height: 38px;
        border-left: 1px solid rgba(#000000, .05);
        border-right: 1px solid rgba(#fff, 1);
        margin-left: 8px;
    }

    &_media {
        display: flex;
        align-items: center;
        column-gap: 16px;

        img {
            width: 18px;
        }
    }

    &_stat {
        display: flex;
        align-items: center;
        padding: 0px 8px;
        column-gap: 8px;
    }

    &_vol {
        cursor: pointer;

        img {
            width: 24px;
        }
    }

    &_time {
        font-size: 17px;
        color: black;
    }

    .buttonPressed {
        text-shadow: none !important;
    }
}