.Team {
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    padding: 16px;
    background: #fff;

    @media(max-width: 800px) {
        width: 100%;
        height: calc(100vh - 121px);
    }
}