.Thimbles {

    width: 400px;
    max-height: 500px;
    overflow-y: scroll;

    @media(max-width: 800px) {
        max-width: 100%;
        width: 100%;
        height: calc(100dvh - 120px);
        max-height: calc(100dvh - 120px);
    }


    &_game {
        background-color: #006968;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &_lastGames {
        padding: 12px !important;

        &_header {
            width: 100%;
            text-align: center;
            font-size: 18px;
            color: #000;
        }

        &_element {
            display: flex;
            width: 100%;
            margin-top: 8px;

            &:not(:last-child) {
                padding-bottom: 4px;
                border-bottom: 1px solid #fff8;
            }

            div,
            a {
                width: 100%;
                overflow: hidden;
                padding: 0px 4px;
                color: #000;
            }

            div:last-child {
                text-align: right;
            }

            &_date {
                width: 120% !important;
            }

            &_date {
                width: 120% !important;
            }

            &_sign {
                // user-select: all;
                text-decoration: underline;
            }

            &_header {
                margin-top: 16px;
                padding-bottom: 4px;
                border-bottom: 1px solid #fff !important;
                // box-shadow: 0px 1px #808080;

                div {
                    font-size: 12px;

                    color: #000;
                    user-select: none;
                    text-decoration: none;
                }
            }


        }
    }

    &_thimble {
        // opacity: .2;
        top: 30px;

        &_1 {
            left: -100px;
            // top: -30px;
        }

        &_3 {
            left: 100px;
        }

        img {
            height: 100px;

        }

        .canBeShaked {
            &:hover {
                animation: dribble .1s infinite linear alternate;
                transform-origin: bottom;
                cursor: pointer;

                @keyframes dribble {
                    0% {
                        transform: rotate(-2deg);
                    }

                    100% {
                        transform: rotate(2deg);
                    }
                }
            }
        }
    }

    &_ball {
        top: 50px;

        &_1 {
            left: -100px;
        }

        &_2 {
            left: 100px;
        }

        img {
            height: 40px;
        }


        &s {
            opacity: 0;

            &_show {
                opacity: 1;
            }
        }
    }


    &_bid {
        &_inner {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 8px;
            padding: 12px !important;

            &_hide {
                opacity: .2;
            }
        }

        &_last {
            text-align: center;
            width: 100%;
            font-size: 16px;
            color: #000;
        }

        &_value {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            font-size: 16px;
            color: #000;
        }

        input {
            font-size: 16px !important;
            height: 28px;
            width: 100px;
        }

        button {
            font-size: 18px;
            height: 40px !important;
        }
    }
}