.TTT {
    width: 100%;

    // min-width: 320px;
    max-width: 400px;

    @media(max-width: 800px) {
        max-width: 800px;
    }

    &_reset {
        height: 36px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #222222;
        cursor: pointer;

        span {
            color: #222222;
            text-decoration: underline
        }

        &:hover {
            text-decoration: underline
        }
    }

    &_game {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding: 24px !important;
        justify-content: center;

        @media(max-width: 800px) {}

    }

    &_score {
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 18px !important;
        gap: 20px;

        @media(max-width: 450px) {
            width: 100%;
        }

        &_el {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            gap: 8px;
        }

        &_img {
            height: 60px;
            display: flex;
            align-items: center;

            img {
                width: 48px;
            }
        }
    }

    &_field {
        padding: 8px !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        @media(max-width: 800px) {
            max-width: 240px;
        }

        &_row {
            display: flex;
            gap: 8px;

            &_el {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                @media(max-width: 800px) {
                    width: 70px;
                    height: 70px;
                }

                img {
                    width: 48px;
                }

                &:active {
                    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
                }
            }
        }
    }
}