.Window {
    position: absolute;

    &_state {
        left: 200px;
        top: 50px;
    }

    &_roadmap {
        left: 240px;
        top: 220px;
    }

    &_whitepaper {
        left: 280px;
        top: 130px;

    }

    .title-bar-text {
        display: flex;
        align-items: center;
        column-gap: 6px;

        img {
            width: 18px;
            height: 18px;
        }
    }
}